<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Update</title>
</head>


<body>
    <!--Section: navbar w/mobility-->
    <div class="navbar-fixed">
        <nav class="#757575 grey darken-1">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="center brand-logo trip-planner">Profile Update</a>
                    <a href="#" data-target="mobile-nav"></a>
                </div>
            </div>
        </nav>
    </div>

    <!--Section: Profile update-->

    <div class="container">
        <div class="row">
            <div class="col s4">
                <!-- Promo Content 1 goes here -->
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="../public/img/Landscape-Mobile-min.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Update Info</p>
                        </div>
                        <div class="card-action">

                            <a class="btn-floating right waves-effect waves-light red profile"><i
                                    class="material-icons">add</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Section for Current trip-->
    <div class="container">
        <div class="row">
            <div class="col s4">
                <!-- Promo Content 1 goes here -->


                <div class="card horizontal">
                    <div class="card-image">
                        <img src="../public/img/Landscape-Mobile-min.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Current Trip</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!--Section for Older trips-->
    <div class="container">
        <div class="row">
            <div class="col s4">
                <!-- Promo Content 1 goes here -->


                <div class="card horizontal">
                    <div class="card-image">
                        <img src="../public/img/Landscape-Mobile-min.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p>Past trips</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>